.pio
.vscode
.gcc-flags.json
.clang_complete
.cproject
.project
.settings
.metadata
bin
gen
out
lib/Mylibrary/
lib/SensorLib/
lib/GFX_Library_for_Arduino/
lib/XPowersLib/
demo/
*.elf
*.bin
*.hex

# Local Secrets
include/secrets.h
